<div class="w-full h-full flex flex-col items-center justify-around">
  <div class="w-full flex flex-col sm:flex-row items-center justify-around">
    <div class="flex flex-col gap-6 items-start justify-start">
      <p class="font-bold text-xl">Hello world!</p>

      <div class="w-full">
        <p class="text-muted text-xs">I am</p>
        <h2 class="bg-bgcolor font-bold text-link-dark text-2xl">
          {{ bioData.name }}
        </h2>
        <p class="text-muted text-xs">and this is my website 😎</p>
        <p class="text-muted text-xs">
          There are many like it but this one is mine
        </p>
      </div>

      <div class="w-full">
        <p class="text-muted text-xs">I am a</p>
        <h2 class="bg-bgcolor font-bold text-xl">{{ bioData.tagline }}</h2>
        <p class="text-muted text-xs">by profession</p>
      </div>

      <div class="w-full">
        <p class="text-muted text-xs">I have accumulated</p>
        <div class="w-full">
          <bims-period-counter [startDate]="bioData.workedSinceDate" />
        </div>

        <p class="text-muted text-xs">of experience thus far</p>
      </div>

      <div class="w-full">
        <p class="text-muted text-xs">I am on</p>
        <div class="flex items-center justify-between">
          <a
            class="flex items-center gap-1"
            href="https://github.com/dmithamo"
            rel="noreferrer noopener"
            target="_blank"
          >
            <span>G</span>
            <span>dmithamo</span>
          </a>
          <a
            class="flex items-center gap-1"
            href="https://github.com/dmithamo"
            rel="noreferrer noopener"
            target="_blank"
          >
            <span>L</span>
            <span>dennis-mithamo</span>
          </a>
        </div>
      </div>
    </div>

    <div class="p-2">
      <img
        [height]="423 / 2"
        [priority]="true"
        [width]="420 / 2"
        alt="memoji"
        class="rounded-b-full"
        ngSrc="assets/img/memoji.jpeg"
      />
    </div>
  </div>
</div>
